<section class="content">
  <div class="content-block">
    <div class="block-header">
      <h2>User Types</h2>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <app-generic-table
        [data]="userTypes()"
          [columns]="columns"
          [config]="tableConfig"
          (tableEvent)="onTableEvent($event)"          
        ></app-generic-table>
        <div *ngIf="error()" class="text-danger mt-2">{{ error() }}</div>
      </div>
    </div>
  </div>
</section>
