@if (tableConfig.title) {
<div class="table-header">
  <h2>{{ tableConfig.title }}</h2>
</div>
}
<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'All Employee'" [items]="['Employees']" [active_item]="'All Employee'">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>Employees</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input id="search-input" placeholder="Search" type="text" #filter (keyup)="applyFilter($event)"
                    class="browser-default search-field" aria-label="Search box">
                </li>
              </ul>
            </div>
            <div class="right">
              <div class="right-side-btn">
                <button mat-icon-button [hidden]=!selection.hasValue() (click)="removeSelectedRows()"
                  class="tbl-header-btn col-red" matTooltip="Delete">
                  <mat-icon>delete_outline</mat-icon>
                </button>

                <app-table-show-hide-column [columnDefinitions]="columnDefinitions"></app-table-show-hide-column>

                <button mat-icon-button (click)="addNew()" class="tbl-header-btn col-green" matTooltip="Add">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
                <button mat-icon-button (click)="refresh()" class="tbl-header-btn col-brown" matTooltip="Refresh">
                  <mat-icon>refresh</mat-icon>
                </button>
                <button mat-icon-button (click)="exportExcel()" class="tbl-header-btn col-blue"
                  matTooltip="Xlsx Download">
                  <mat-icon class="material-icons-outlined">file_download</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="overflow-auto">
            <div class="responsive_table">

  <app-generic-table [data]="tenants()" [columns]="columns() || []" [totalRecords]="totalRecords()"
    [config]="tableConfig" (tableEvent)="onTableEvent($event)" />
     <!-- Loading spinner -->
              @if (isLoading) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
</div>
