<section class="content">
    <div class="content-block">
        <div class="block-header">
            <app-breadcrumb [title]="'Support Tickets'" [items]="['Superadmin']" [active_item]="'Support Tickets'"></app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-12">
                <app-generic-table [data]="rows()" [columns]="columns" [totalRecords]="total()" [config]="config"
                    [rowActions]="actions" [formDialogComponent]="UpsertTicketDialogComponent"
                    (tableEvent)="onTableEvent($event)">
                </app-generic-table>

            </div>
        </div>
    </div>