<div *ngIf="userInfo">
  <h2>User Information</h2>
  <p><strong>Name:</strong> {{ userInfo.userName }}</p>
  <p><strong>Email:</strong> {{ userInfo.email }}</p>
  <p><strong>Roles:</strong> {{ userInfo.roleNames.join(',') }}</p>
  <p><strong>Shop Name:</strong> {{ userInfo.tenantName }}</p>

  <div>
    <h2>Permissions</h2>
    <ul>
      <li *ngFor="let permission of permissions">
        {{ permission }}
    </ul>
  </div>

</div>
<div *ngIf="!userInfo">
  <p>No user information available.</p>
</div>
