<h2 mat-dialog-title>Update User</h2>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>User Id</mat-label>
          <input matInput formControlName="userId" [disabled]="true" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>User Type</mat-label>
          <mat-select formControlName="userTypeId">
            <mat-option [value]="null">Select User Type</mat-option>
             @for (ut of userTypes; track ut.id) {
              <mat-option [value]="ut.id">{{ ut.name }}</mat-option>
             }
            </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="close()">Cancel</button>
  <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="save()">Save</button>
</div>